async-lru
cloudscraper
beautifulsoup4
pytube
youtube-dl
ffmpeg
m3u8
helper
certifi
bs4
charset-normalizer
idna
mutagen
pyaes
pycryptodome
Pyrogram
pyromod
PySocks
python-dotenv
requests
soupsieve
TgCrypto
urllib3
websockets
yt-dlp
motor
aiohttp
aiofiles
pytz
umongo
speedtest-cli
Flask
gunicorn
Jinja2
werkzeug
itsdangerous
